ul {
  padding-left: 0;
  list-style-type: none;
}

.mat-card {
  padding: 5px 14px 16px 10px;
  height: 100%;
}

.mat-card-subtitle {
  margin: 0;
}

.mat-card-content {
  height: 100%;
  margin-left: 0.5em;
}
