<mat-card>
  <mat-card-subtitle>Workflow States:</mat-card-subtitle>
  <mat-card-content fxLayout='column'>
    <div style='overflow: auto; height: 100%'>
      <ul>
        <li *ngFor='let state of workflowStates$ | async'>
          <sn-workflow-item [workflow]='state'></sn-workflow-item>
        </li>
      </ul>
    </div>
    <mat-card-actions align='end'>
      <button mat-flat-button (click)='onAddWorkflowState()'>Add State</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
