<mat-card style='height: 12em'>
  <div *ngIf='(project | async) as currentProject'>
    <mat-card-title>{{currentProject.name}}</mat-card-title>
    <div style='margin-left: 1em;'>
      <mat-card-subtitle>{{currentProject.description}}</mat-card-subtitle>
      <mat-card-subtitle>Issue Prefix: {{currentProject.issuePrefix}}</mat-card-subtitle>
    </div>
    <mat-card-actions align='end'>
      <button mat-flat-button (click)='onEditProject()'>Edit Project</button>
    </mat-card-actions>
  </div>
</mat-card>
