  <div class='row'>
    <div class='col-sm-12 col-md-8 col-sm-offset-1 col-md-offset-2'>
      <ul class='nav nav-tabs'>
        <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLink]="['projects']">Projects</a></li>
        <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLink]="['issues']">Issues</a></li>
        <li class='nav-item'><a class='nav-link' routerLinkActive='active' [routerLink]="['users']">Users</a></li>
      </ul>
    </div>
  </div>
