<div fxLayout='row' style='padding: 0 1em;'
     [class.highlight]='isHovering'
     (mouseover)='isHovering = true'
     (mouseleave)='isHovering = false'>
  <div fxLayout='row' fxFlex='grow' fxLayoutAlign='start center' fxLayoutGap='1em' style='height: 3em'>
    <div fxFlex>{{user.name}}</div>
    <div fxFlex>{{user.loginName}}</div>
    <div fxFlex>{{user.email}}</div>
    <div fxFlex>{{role()}}</div>
  </div>

  <div fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='0.25em' fxFlex='5em'>
    <button mat-icon-button *ngIf='isHovering' class='dimmed' (click)='onEditUser()'>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button *ngIf='isHovering' class='dimmed' (click)='onEditPassword()'>
      <mat-icon>password</mat-icon>
    </button>
    <button mat-icon-button *ngIf='isHovering' class='dimmed' (click)='onDeleteUser()'>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
