@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using Fluxor

@inject IState<ProjectState>    ProjectState
@inject ProjectFacade           ProjectFacade

<h3>Project List</h3>

@if( ProjectState.Value.ApiCallInProgress ) {
    <div>Loading Project List</div>
}
else if( ProjectState.Value.ApiCallMessage.Length > 0 ) {
    <div>Error Message: @ProjectState.Value.ApiCallMessage</div>
}
else {
    <div>@ProjectState.Value.Projects.Count projects loaded</div>

    @foreach( var project in ProjectState.Value.Projects ) {
        <div>@project.Name</div>
    }
}

@code {

    protected override void OnInitialized() {
        base.OnInitialized();

        ProjectFacade.LoadProjects();
    }

}
