<section fxLayout='row' fxFlexAlign='end center' fxLayoutGap='0.5em' *ngVar='project$ | async as project'>
  <button mat-flat-button (click)='onCreateProject()'>Add</button>
  <button mat-flat-button (click)='onDeleteProject()' *ngIf='project'>Delete</button>
  <button mat-flat-button (click)='onImportProject()'>Import</button>
  <button mat-flat-button (click)='onExportProject()' *ngIf='project'>Export</button>
  <button mat-flat-button (click)='onCreateTemplate()' *ngIf='project'>Create Template</button>
</section>
