<div fxLayout='column'>
  <h1>Users List:</h1>
  <div fxLayout='row' fxFlex='grow' fxLayoutGap='1em'>
    <div fxFlex>Name:</div>
    <div fxFlex>Login:</div>
    <div fxFlex>EMail:</div>
    <div fxFlex>Role</div>
    <div fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='0.5em' fxFlex='4em'>
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <ul role='list' style='background: antiquewhite'>
    <li *ngFor='let user of users$ | async'>
      <sn-user-detail [user]='user'></sn-user-detail>
    </li>
  </ul>
</div>
