<h3 mat-dialog-title>Change Password</h3>
<mat-dialog-content fxLayout='column' style='padding-bottom: 1em;'>
  <mat-form-field style='width: 100%'>
    <mat-label>Current Password</mat-label>
    <input type='password' required matInput [(ngModel)]='currentPassword' placeholder='Password'>
  </mat-form-field>
  <mat-form-field style='width: 100%'>
    <mat-label>Password</mat-label>
    <input type='password' required matInput [(ngModel)]='newPassword' placeholder='New Password'>
  </mat-form-field>
  <mat-form-field style='width: 100%'>
    <mat-label>Retype Password</mat-label>
    <input type='password' required matInput [(ngModel)]='retypePassword' placeholder='Retype Password'>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayout='row' fxLayoutAlign='end center' fxLayoutGap='1em'>
  <button class='mat-button' (click)='onCancel()'>Cancel</button>
  <button class='mat-button' (click)='onClose()'>OK</button>
</mat-dialog-actions>
